@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* sign up */
.signup_container {
  margin: 50px;
  padding: 20px;
  display: flex;
  align-items: center;
}

.signup_content {
  width: 50%;
  margin: 0 50px;
}

.signup_content .signup_title {
  font-size: 30px;
  font-weight: 800;
  margin: 5px 0;
}

.signup_content .message__login {
  margin: 5px 0;
  font-size: 16px;
}

.signup_content .message__login a {
  text-decoration: none;
  color: #000;
  font-weight: 800;
}

.signup_content .message__login a:hover {
  opacity: 0.7;
  text-decoration: underline;
}

.formSignUp {
  margin: 20px 0;
}

.formSignUp .form-group {
  margin: 18px 0;
}

.formSignUp .form-group label {
  display: block;
  font-size: 16px;
  font-weight: 500;
  margin: 5px 0;
}

.formSignUp .form-group input {
  outline: none;
  display: block;
  padding: 8px 12px;
  width: 100%;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.signup_image {
  width: 50%;
  height: 70vh;
}

.signup_image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.form-group button {
  margin-top: 10px;
  outline: none;
  border: 1px solid rgb(248, 91, 91);
  display: block;
  padding: 16px 32px;
  width: 100%;
  background: rgb(248, 91, 91);
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  border-radius: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.form-group button:hover {
  background-color: transparent;
  color: rgb(248, 91, 91);
}
