@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.signup_container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.signup_image img {
  height: 820px;
}

.form-group {
  margin: 16px 0;
}

.form-group label {
  display: block;
}

.signup_content {
  padding: 25px 50px 25px 200px;
  margin: 10px;
}

.signup_content .description {
  margin: 10px 0;
}

.signup_content .description a {
  text-decoration: none;
  color: #000;
  font-weight: 800;
}

form {
  margin-top: 50px;
}

.form-group label {
  color: #666;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 3px 0;
}

.form-group input {
  width: 100%;
  padding: 15px;
  outline: none;
  border: 1px solid #eee;
  border-radius: 10px;
}

.form-group button {
  padding: 15px 31px;
  border-radius: 32px;
  background-color: #f94444;
  color: #fff;
  border: none;
  outline: none;
  margin-top: 40px;
  font-weight: 800;
  transition: all 0.5 ease;
}

.form-group button:hover {
  opacity: 0.6;
}
